extends layout

block content
	div(id="title-and-caption")
		h1(id="acapellizer-title") Acapellizer
		h3	 Turn your favorite song into a capella!
	div(id="pick-song-dialog")
		form(class='well form', method='post', action='/homepage/searchSong')
			label Song Name
			input(type="text", name="song_name")
			label Artist Name
			input(type="text", name="artist_name")
			br
			button.btn(type="submit", id="upload-song-button")
				i.icon-search
				| Find Song 