doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="//netdna.bootstrapcdn.com/bootswatch/2.3.0/amelia/bootstrap.min.css", rel="stylesheet")
    link(href="//netdna.bootstrapcdn.com/bootswatch/2.3.0/amelia/bootstrap-responsive.min.css", rel="stylesheet")
  body
    block content