extends layout

block content
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
  script(src='http://echonest.github.com/remix/js/examples/assets/js/bootstrap.min.js')
  script(type='text/javascript', src='/javascripts/remix.js')
  script(src='http://echonest.github.com/remix/js/wavesurfer/wavesurfer.js')
  script(src='http://echonest.github.com/remix/js/wavesurfer/drawer.js')
  //- script(src='/javascripts/numeric-1.2.6.js')
  script(src='/javascripts/player.js')
  .container
    .well
      h1
        | And the results are...
        h1
          #theCode
            pre.
              
    div#info
    section
      div#waveform
        h2 Original Track
        canvas#waveCanvas(width='1024px',height='100px')
        br
        button.btn.btn-inverse.btn-original(onclick='player.play(0, track.analysis.beats);') Play First Track
        button.btn.btn-original(onclick='player.stop()') Stop First Track
      div#waveform2
        h2 Acapellized Track
        canvas#waveCanvas2(width='1024px',height='100px')
        br
        button.btn.btn-inverse.btn-original(onclick='player.play(0, track2.analysis.beats);') Play Second Track
        button.btn.btn-original(onclick='player.stop()') Stop Second Track

    img(src='http://the.echonest.com/static/img/logos/EN_P_on_White_Horizontal.gif', id="echonest-logo")
