extends layout

block content
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
  script(src='http://echonest.github.com/remix/js/examples/assets/js/bootstrap.min.js')
  script(type='text/javascript', src='/javascripts/remix.js')
  script(src='http://echonest.github.com/remix/js/wavesurfer/wavesurfer.js')
  script(src='http://echonest.github.com/remix/js/wavesurfer/drawer.js')
  script(type='text/javascript')
  script(src='/javascripts/numeric-1.2.6.js')
  script(src='/javascripts/player.js')
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        a.brand(href='index.html') Echo Nest Remix
        .nav-collapse.collapse
          ul.nav
            li
              a(href='http://echonest.github.com/remix/python.html') Python
            li
              a(href='http://echonest.github.com/remix/javascript.html') JavaScript
            li
              a(href='http://echonest.github.com/remix/examples.html') Examples
            li
              a(href='http://echonest.github.com/remix/who.html') Who
        //
          /.nav-collapse 
  //
    /.navbar 
  .container
    .hero-unit
      h1
        | remix.js:  one.
              
    div#info
    section
      div#waveform
        h2 First Track
        canvas#waveCanvas(width='1024px',height='100px')
        br
        button.btn.btn-inverse.btn-original(onclick='player.play(0, track.analysis.beats);') Play First Track
        button.btn.btn-original(onclick='player.stop()') Stop First Track
      div#waveform2
        h2 Second Track
        canvas#waveCanvas2(width='1024px',height='100px')
        br
        button.btn.btn-inverse.btn-original(onclick='player.play(0, track2.analysis.beats);') Play Second Track
        button.btn.btn-original(onclick='player.stop()') Stop Second Track
      div#newWaveform
        h2 Remixed Track
        canvas#RemixedWaveCanvas(width='1024px',height='100px')
        br
        button.btn.btn-inverse.btn-remixed(onclick='player.play(0, remixed);') Play Remix
        button.btn.btn-remixed(onclick='player.stop()') Stop Remix
        span#downloadButton
    img(src='http://the.echonest.com/media/images/logos/250x80_lt.gif')
  //
     /container 