extends layout

block content
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
  script(src='http://echonest.github.com/remix/js/examples/assets/js/bootstrap.min.js')
  script(type='text/javascript', src='/javascripts/remix.js')
  script(src='http://echonest.github.com/remix/js/wavesurfer/wavesurfer.js')
  script(src='http://echonest.github.com/remix/js/wavesurfer/drawer.js')
  script(type='text/javascript')
<<<<<<< Updated upstream
  script(src='/javascripts/numeric-1.2.6.js')
  script(src='/javascripts/player.js')
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        a.brand(href='index.html') Echo Nest Remix
        .nav-collapse.collapse
          ul.nav
            li
              a(href='http://echonest.github.com/remix/python.html') Python
            li
              a(href='http://echonest.github.com/remix/javascript.html') JavaScript
            li
              a(href='http://echonest.github.com/remix/examples.html') Examples
            li
              a(href='http://echonest.github.com/remix/who.html') Who
        //
          /.nav-collapse 
  //
    /.navbar 
=======
    // First-beat extraction and assembly
    var apiKey = 'FILDTEOIK2HBORODV';
    var trackID = 'TRCYWPQ139279B3308';
    var trackURL = '/songs/1451_-_D.mp3';
    var remixer;
    var player;
    var track;
    var remixed;
    function init() {
    $('.btn').attr('disabled','disabled');
    var wavesurfer = Object.create(WaveSurfer);
    wavesurfer.init({
    canvas: document.querySelector('#waveCanvas'),
    waveColor: '#888888',
    progressColor: '#000000',
    loadingColor: '#000000',
    cursorColor: '#888888'
    });
    var remixedWavesurfer = Object.create(WaveSurfer);
    remixedWavesurfer.init({
    canvas: document.querySelector('#RemixedWaveCanvas'),
    waveColor: '#00ACEB',
    progressColor: '#000000',
    loadingColor: '#000000',
    cursorColor: '#00ACEB'
    });
    if (window.webkitAudioContext === undefined) {
    error("Sorry, this app needs advanced web audio. Your browser doesn't"
    + " support it. Try the latest version of Chrome");
    } else {
    var context = new webkitAudioContext();
    var fs;
    // Only use the filesystem if we have access to it.
    if (window.File && window.FileReader && window.FileList && window.Blob && window.webkitRequestFileSystem) {
    window.requestFileSystem  = window.requestFileSystem || window.webkitRequestFileSystem;
    window.requestFileSystem(window.TEMPORARY, 1024*1024, function(filesystem) {
    fs = filesystem;
    }, fileErrorHandler);
    }
    remixer = createJRemixer(context, $, apiKey);
    player = remixer.getPlayer();
    $("#info").text("Loading analysis data...");
    remixer.remixTrackById(trackID, trackURL, function(t, percent) {
    track = t;
    $("#info").text(percent + "% of the track loaded...");
    if (percent == 100) {
    $("#info").text(percent + "% of the track loaded, remixing...");
    }
    if (track.status == 'ok') {
    wavesurfer.loadBuffer(track.analysis.beats);
    $('.btn-original').removeAttr('disabled');
    remixed = new Array();
    // Extract the first beat of every bar.
    var meter = parseInt(track.analysis.track.time_signature);
    for (var i=0; i < track.analysis.beats.length; i++) {
    if (i % meter == 0) {
    remixed.push(track.analysis.beats[i])
    }
    }
    $("#info").text("Remix complete!");
    remixedWavesurfer.loadBuffer(remixed);
    // Only use the filesystem if we have access to it.
    if (fs) {
    remixer.saveRemixLocally(fs, remixed, function(saveURL) {
    $('#downloadButton').html('<a href="' + saveURL + '" target="_blank">Download Remix</a>')
    });
    }
    $('.btn-remixed').removeAttr('disabled');
    }
    });
    }
    }
    window.onload = init;

>>>>>>> Stashed changes
  .container
    .well
      h1
<<<<<<< Updated upstream
        | remix.js:  one.
=======
        | And the results are...
        h1
          #theCode
            pre.
>>>>>>> Stashed changes
              
    div#info
    section
      div#waveform
        h2 First Track
        canvas#waveCanvas(width='1024px',height='100px')
        br
        button.btn.btn-inverse.btn-original(onclick='player.play(0, track.analysis.beats);') Play First Track
        button.btn.btn-original(onclick='player.stop()') Stop First Track
      div#waveform2
        h2 Second Track
        canvas#waveCanvas2(width='1024px',height='100px')
        br
        button.btn.btn-inverse.btn-original(onclick='player.play(0, track2.analysis.beats);') Play Second Track
        button.btn.btn-original(onclick='player.stop()') Stop Second Track
      div#newWaveform
        h2 Remixed Track
        canvas#RemixedWaveCanvas(width='1024px',height='100px')
        br
        button.btn.btn-inverse.btn-remixed(onclick='player.play(0, remixed);') Play Remix
        button.btn.btn-remixed(onclick='player.stop()') Stop Remix
        span#downloadButton
        
    img(src='http://the.echonest.com/static/img/logos/EN_P_on_White_Horizontal.gif', id="echonest-logo")
