body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* styles for homepage */

#upload-song-button{
	margin-left: auto;
	margin-right: auto;
}

#title-and-caption{
	text-align: center;
}

#pick-song-dialog{
	text-align: center;
}

#acapellizer-title{
	color: #b01717;
}

/* styles for display_acapella */

#powerchords-pic{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#echonest-logo{
	margin-top: 20px;
	margin-left: 12px;
}